@font-face {
    font-family: "Plumb medium";
    font-weight: medium;
    font-style: normal;
    src: local("Plumb medium"), url("../fonts/plumb-medium.ttf");
}
@font-face {
    font-family: "Plumb bold";
    font-weight: bold;
    font-style: normal;
    src: local("Plumb bold"), url("../fonts/plumb.ttf");
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.title {
    font-family: "Plumb medium";
    font-size: 30px;
    letter-spacing: -0.01em;
    line-height: 130%;
}

.top {
    min-height: 800px;
    background-image: url("../images/background-top.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.container {
    width: 1140px;
    padding: 0 10px;
    margin: 0 auto;
}
.header {
    border-bottom: 1px solid #fff;
    margin-bottom: 184px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1333px;
        padding: 0 10px;
        margin: 0 auto;
    }

    &__logo {
        padding: 33px 0;
    }

    &__menu-list {
        display: flex;
        align-items: center;
    }

    &__lang-btn {
        color: #fff;
        display: inline-block;
        position: relative;
        margin-left: 70px;
        padding-left: 31px;
    }
    &__lang-btn::before {
        content: "";
        width: 20px;
        height: 20px;
        background-image: url("../icons/lang-logo.svg");
        position: absolute;
        top: -5px;
        left: 0;
    }
}

.menu {
    &__list-li + &__list-li {
        margin-left: 47px;
    }
    &__list-link {
        color: #fff;
    }
}

.info {
    color: white;
    &__inner {
        display: flex;
    }

    &__text {
        margin-right: -75px;
        flex: 1 1 77%;
        margin-right: 54px;
    }

    &__title {
        font-family: "Plumb bold";
        font-size: 64px;
        line-height: 160%;
        text-transform: uppercase;
        // margin-bottom: 35px;
    }

    &__subtitle {
        font-size: 24px;
        line-height: 140%;
        margin-bottom: 25px;
    }

    &__link {
        font-size: 16px;
        line-height: 135%;
        color: #fff;
        display: inline-block;
        position: relative;
    }
    &__link::after {
        content: "";
        position: absolute;
        background-image: url("../icons/arrow.svg");
        right: -20px;
        top: 7px;
        width: 16px;
        height: 8px;
    }
    &__blocks {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 55px;
        padding-left: 75px;
    }
}

.blocks {
    &__item {
        width: 255px;
        min-height: 148px;
        background-color: #2378fc;
    }

    &__item:nth-child(2) {
        background-color: #30bcc9;
        margin-left: 25px;
    }
    &__item:nth-child(3) {
        margin-top: 25px;
        min-height: 175px;
        background-color: #ffc41e;
    }
    &__item:nth-child(4) {
        margin-top: 25px;
        min-height: 175px;
        background-color: #f6404f;
        margin-left: 25px;
    }

    &__item-title {
        font-size: 21px;
        color: #fff;
        padding: 30px 40px 15px 40px;
    }

    &__item-link {
        display: inline-block;
        font-size: 14px;
        line-height: 135%;
        color: #fff;
        margin-right: 117px;
        margin-left: 40px;
        margin-bottom: 30px;
        position: relative;
    }
    &__item-link::after {
        content: "";
        position: absolute;
        background-image: url("../icons/arrow.svg");
        right: -20px;
        top: 5px;
        width: 16px;
        height: 8px;
    }
}

.links {
    background: #2378fc;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    &__item-title {
        padding-bottom: 30px;
        color: #fff;
    }

    &__item-li {
        padding-bottom: 15px;
        max-width: 186px;
    }

    &__item-link {
        color: #fff;
    }

    &__item-link:hover {
        text-decoration: underline;
        color: #ffc41e;
    }
}

.parties {
    background: #ffc41e;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        padding-top: 75px;
        padding-bottom: 55px;
    }

    &__header-link {
        color: #2e373b;
        text-decoration: underline;
        position: relative;
        font-family: "Plumb medium";
        font-size: 21px;
        line-height: 130%;
        letter-spacing: -0.01em;
    }
    &__header-link::after {
        content: "";
        position: absolute;
        background-image: url("../icons/arrow-black.svg");
        right: -38px;
        top: 10px;
        width: 26px;
        height: 12px;
    }

    &__inner {
        color: #2e373b;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex: 1 1 25%;
        padding-bottom: 79px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: 350px;
    }

    &__item-img {
        display: inline-block;
        margin-bottom: 20px;
    }

    &__item-date {
        color: #2e373b;
        display: inline-block;
        margin-bottom: 10px;
    }

    &__item-title {
        color: #f6404f;
        display: inline-block;
        margin-bottom: 10px;
    }

    .title-uppercase {
        text-transform: uppercase;
    }

    &__item-describe {
        color: #2e373b;
        display: inline-block;
        margin-bottom: 10px;
    }
}

.news {
    background: #faf3e3;
    padding-top: 75px;
    padding-bottom: 85px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__banner-link + &__banner-link {
        margin-top: 60px;
        display: inline-block;
    }


    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    &__title {
        color: #2E373B;
    }

    &__header-link {
        color: #2e373b;
        text-decoration: underline;
        position: relative;
        font-family: "Plumb medium";
        font-size: 21px;
        line-height: 130%;
        letter-spacing: -0.01em;
    }
    &__header-link::after {
        content: "";
        position: absolute;
        background-image: url("../icons/arrow-black.svg");
        right: -38px;
        top: 10px;
        width: 26px;
        height: 12px;
    }
}

.articles {
    display: flex;
    flex-direction: column;

    &__item {
        width: 530px;
        display: flex;
        
    }

    &__item + &__item {
        margin-top: 30px;
    }

    &__item-info{
       display: flex;
       flex-direction: column;
       margin-top: 20px;
    }

    &__item-img {
        display: inline-block;
        margin-right: 30px;
    }

    &__item-date {
        margin-bottom: 14px;
        color: #f6404f;
    }

    &__item-title {
        color: #2e373b;
        font-family: "Plumb medium";
        font-size: 21px;
        line-height: 130%;
        width: 340px;
    }
}
